<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon>store</mat-icon>Demo Store</mat-toolbar>
    <mat-nav-list *ngIf="(isHandset$ | async) === false">
      <a mat-list-item *ngFor="let item of categories" (click)="showItems(item.categoryId);">{{item.name}}</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="(isHandset$ | async) === true">
      <a mat-list-item *ngFor="let item of categories" (click)="showItems(item.categoryId);drawer.toggle();">{{item.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>&nbsp;{{pageTitle}}</span>
    </mat-toolbar>    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>