/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
    margin:0;
}
.mat-list-base
{
    padding-top: 0px!important;
}
.mat-drawer-container
{
    background-color: #fff;
}

.mat-card
{
    margin: 10px;
}

.mat-toolbar.mat-elevation-z6{    
    margin-bottom: 5px;
}

.mat-card-content > *
{
    width: 100%;
}

.mat-card-avatar
{
    display: none;
}

.mat-card-header-text
{
    margin:15px 0px!important;
}