/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    margin:0;
}

.mat-drawer-container
{
    background-color: #fff;
}

.mat-card
{
    margin: 10px;
}

.mat-card-content > *
{
    width: 100%;
}

.mat-card-avatar
{
    display: none;
}

.mat-card-header-text
{
    margin:15px 0px!important;
}